<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
        <!--    轮播图    -->
        <div class="banner row" id="banner" style="display: block; position: relative; overflow: hidden; width: 100%; height: 763px;">
            <!--     background img       -->
            <div class="slides-control" style="position: relative; height: 100%; width: 1785px; left: -595px;"><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noPadd slides-container" style="height: 100%; margin: 0px; padding: 0px; list-style: none; position: relative;">

                <div class="slide" style="display: none; left: 595px; position: absolute; overflow: hidden; height: 100%; width: 595px; top: 0px; z-index: 0; opacity: 1;">
                    <img src="images/header-image/header-bg1.jpg" alt="" style="backface-visibility: hidden; position: absolute; left: -380.72px; top: 0px; z-index: -1; max-width: none; height: 763px; width: 1356.44px;">
                </div>

                <div class="slide" style="display: none; left: 595px; position: absolute; overflow: hidden; height: 100%; width: 595px; top: 0px; z-index: 0; opacity: 1;">
                    <img src="images/header-image/header-bg2.jpg" alt="" style="backface-visibility: hidden; position: absolute; left: -380.72px; top: 0px; z-index: -1; max-width: none; height: 763px; width: 1356.44px;">
                </div>

                <div class="slide" style="display: block; left: 595px; position: absolute; overflow: hidden; height: 100%; width: 595px; top: 0px; z-index: 2; opacity: 1;">
                    <img src="images/header-image/header-bg3.jpg" alt="" style="backface-visibility: hidden; position: absolute; left: -380.5px; top: 0px; z-index: -1; max-width: none; height: 763px; width: 1356.44px;">
                </div>

                <div class="slide" style="display: none; left: 595px; position: absolute; overflow: hidden; height: 100%; width: 595px; top: 0px; z-index: 0; opacity: 1;">
                    <img src="images/header-image/header-bg4.jpg" alt="" style="backface-visibility: hidden; position: absolute; left: -380.72px; top: 0px; z-index: -1; max-width: none; height: 763px; width: 1356.44px;">
                </div>

            </div></div>
            <!--      轮播图文字部分      -->
            <div class="bannerText container">
                <h1>我叫陆鉴鑫(Jeyrce.Lu)</h1>
                <p>后端开发工程师(python，golang)，2018至今从事云计算、devops等领域工作。</p>
                <a href="#aboutme" class="mbnt">查看详情</a>
            </div>
        <nav class="slides-pagination"><a href="#1" class="">1</a><a href="#2" class="">2</a><a href="#3" class="current">3</a><a href="#4" class="">4</a></nav></div>
        <!--  菜单条  -->
        <div class="menu">
            <div class="navbar-wrapper stuckMenu">
                <div class="container">
                    <div class="navwrapper">
                        <div class="navbar navbar-inverse navbar-static-top">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#">导航</a>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav nav-justified">
                                        <li class="first menuItem homeLink active"><a href="#wrapper">首页</a></li>
                                        <li class="menuItem"><a href="#aboutme">关于我</a></li>
                                        <li class="menuItem"><a href="#technical">技能</a></li>
                                        <li class="menuItem"><a href="#experience">经历</a></li>
                                        <li class="menuItem"><a href="#references">项目</a></li>
                                        <li class="menuItem"><a href="#contact">联系我</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>